<%- include("navbar.ejs") %>
<form action="/admin/update_project_page" method="post">
    <div class="container p-4 bg-white border shadow">
        <div class="row">
            <div class="col-md-6 mt-3">
                <h3 class="heading">Edit Project Page</h3>
            </div>
            <div class="col-md-6 mt-3">
                <b  class="text-success">Project Page Description :</b>
                <textarea name="project_page_description"  rows="1" class="form-control"><%=project.project_page_description%></textarea>
            </div>

            <h4 class="fw-bold mt-3">Project 1</h4>
            <div class="col-md-3 mt-3">
                <b class="text-success">Project Name :</b>
                <input type="text" name="project_name_1" class="form-control" value="<%=project.project_page_description%>" >
            </div>
            <div class="col-md-3 mt-3">
                <b class="text-success">Project Link :</b>
                <input type="text" name="project_link_1" class="form-control" value="<%=project.project_link_1%>">
            </div>
            <div class="col-md-6 mt-3">
                <b class="text-success">Project Description :</b>
                <textarea name="project_desc_1" rows="1" class="form-control" ><%=project.project_desc_1%></textarea>
            </div> 
        </div>
        <div class="row">
            <div class="col-md-12 mt-3">
            </div>
            <h4 class="fw-bold mt-3">Project 2</h4>
            <div class="col-md-3 mt-3">
                <b class="text-success">Project Name :</b>
                <input type="text" name="project_name_2" class="form-control" value="<%=project.project_name_2%>">
            </div>
            <div class="col-md-3 mt-3">
                <b class="text-success">Project Link :</b>
                <input type="text" name="project_link_2" class="form-control" value="<%=project.project_link_2%>">
            </div>
            <div class="col-md-6 mt-3">
                <b class="text-success">Project Description :</b>
                <textarea name="project_desc_2" rows="1" class="form-control" ><%=project.project_desc_2%></textarea>
            </div> 
        </div>
        <div class="row">
            <div class="col-md-12 mt-3">
            </div>
            <h4 class="fw-bold mt-3">Project 3</h4>
            <div class="col-md-3 mt-3">
                <b class="text-success">Project Name :</b>
                <input type="text" name="project_name_3" class="form-control" value="<%=project.project_name_3%>">
            </div>
            <div class="col-md-3 mt-3">
                <b class="text-success">Project Link :</b>
                <input type="text" name="project_link_3" class="form-control" value="<%=project.project_link_3%>">
            </div>
            <div class="col-md-6 mt-3">
                <b class="text-success">Project Description :</b>
                <textarea name="project_desc_3" rows="1" class="form-control" ><%=project.project_desc_3%></textarea>
            </div> 
        </div>
        <div class="row">
            <div class="col-md-12 mt-3">
            </div>
            <h4 class="fw-bold mt-3">Project 4</h4>
            <div class="col-md-3 mt-3">
                <b class="text-success">Project Name :</b>
                <input type="text" name="project_name_4" class="form-control">
            </div>
            <div class="col-md-3 mt-3">
                <b class="text-success">Project Link :</b>
                <input type="text" name="project_link_4" class="form-control">
            </div>
            <div class="col-md-6 mt-3">
                <b class="text-success">Project Description :</b>
                <textarea name="project_desc_4" rows="1" class="form-control"></textarea>
            </div> 
        </div>
        <div class="row">
            <div class="col-md-12 mt-3">
            </div>
            <h4 class="fw-bold mt-3">Project 5</h4>
            <div class="col-md-3 mt-3">
                <b class="text-success">Project Name :</b>
                <input type="text" name="project_name_5" class="form-control">
            </div>
            <div class="col-md-3 mt-3">
                <b class="text-success">Project Link :</b>
                <input type="text" name="project_link_5" class="form-control">
            </div>
            <div class="col-md-6 mt-3">
                <b class="text-success">Project Description :</b>
                <textarea name="project_desc_5" rows="1" class="form-control"></textarea>
            </div> 
        </div>
        <div class="row">
            <div class="col-md-12 mt-3">
            </div>
            <h4 class="fw-bold mt-3">Project 6</h4>
            <div class="col-md-3 mt-3">
                <b class="text-success">Project Name :</b>
                <input type="text" name="project_name_6" class="form-control">
            </div>
            <div class="col-md-3 mt-3">
                <b class="text-success">Project Link :</b>
                <input type="text" name="project_link_6" class="form-control">
            </div>
            <div class="col-md-6 mt-3">
                <b class="text-success">Project Description :</b>
                <textarea name="project_desc_6" rows="1" class="form-control"></textarea>
            </div> 
        </div>
        <div class="col-md-12 text-center mt-5 mb-4">
            <button class="btn btn-primary">Save All Projects</button>
        </div>
    </div>
</form>
<%- include("footer.ejs") %>