<%- include("navbar.ejs") %>
<form action="/admin/update_certificate_page" method="post" enctype="multipart/form-data">
    <div class="container p-4 border shadow bg-white">
        <div class="row">
            <div class="col-md-12 mt-3">
                <h3 class="heading">Edit Certification Page</h3>
            </div>
                <div class="col-md-12 mt-3 mb-3">
                    <b>Edit Certification Description : </b>
                    <textarea type="text"  rows="1" name="certi_desc" class="form-control"><%=certificate.certi_desc%></textarea>
                </div>
                <div class="col-md-12">
                    <h3 class="text-center text-primary">All Technology</h3>
                </div>
                <h4 class="mt-3 text-success">Technology 1</h4>
                <br>
                <div class="col-md-4">
                    <b>Technology Image  : </b>
                    <input type="file" required accept="image/*" name="certificate_photo_1" class="form-control">
                </div>
                <div class="col-md-4">
                    <b>Technology  Name : </b>
                    <input type="text" name="certificate_name_1" class="form-control" value="<%=certificate.certificate_name_1%>">
                </div>
                <div class="col-md-4">
                    <b>Technology Provide Date : </b>
                    <input type="date" name="certificate_date_1" class="form-control">
                </div>
                <h4 class="mt-3 text-success">Technology 2</h4>
                <br>
                <div class="col-md-4">
                    <b>Technology Image  : </b>
                    <input type="file" required accept="image/*" name="certificate_photo_2" class="form-control">
                </div>
                <div class="col-md-4">
                    <b>Technology  Name : </b>
                    <input type="text" name="certificate_name_2" class="form-control" value="<%=certificate.certificate_name_2%>">
                </div>
                <div class="col-md-4">
                    <b>Technology Provide Date : </b>
                    <input type="date" name="certificate_date_2" class="form-control">
                </div>
                <h4 class="mt-3 text-success">Technology 3</h4>
                <br>
                <div class="col-md-4">
                    <b>Technology Image  : </b>
                    <input type="file" required accept="image/*" name="certificate_photo_3" class="form-control">
                </div>
                <div class="col-md-4">
                    <b>Technology  Name : </b>
                    <input type="text" name="certificate_name_3" class="form-control" value="<%=certificate.certificate_name_3%>">
                </div>
                <div class="col-md-4">
                    <b>Technology Provide Date : </b>
                    <input type="date" name="certificate_date_3" class="form-control">
                </div>
                <h4 class="mt-3 text-success">Technology 4</h4>
                <br>
                <div class="col-md-4">
                    <b>Technology Image  : </b>
                    <input type="file" required accept="image/*" name="certificate_photo_4" class="form-control">
                </div>
                <div class="col-md-4">
                    <b>Technology  Name : </b>
                    <input type="text" name="certificate_name_4" class="form-control" value="<%=certificate.certificate_name_4%>">
                </div>
                <div class="col-md-4">
                    <b>Technology Provide Date : </b>
                    <input type="date" name="certificate_date_4" class="form-control">
                </div>
                <h4 class="mt-3 text-success">Technology 5</h4>
                <br>
                <div class="col-md-4">
                    <b>Technology Image  : </b>
                    <input type="file" required accept="image/*" name="certificate_photo_5" class="form-control">
                </div>
                <div class="col-md-4">
                    <b>Technology  Name : </b>
                    <input type="text" name="certificate_name_5" class="form-control" value="<%=certificate.certificate_name_5%>">
                </div>
                <div class="col-md-4">
                    <b>Technology Provide Date : </b>
                    <input type="date" name="certificate_date_5" class="form-control">
                </div>
                <h4 class="mt-3 text-success">Technology 6</h4>
                <br>
                <div class="col-md-4">
                    <b>Technology Image  : </b>
                    <input type="file" required accept="image/*" name="certificate_photo_6" class="form-control">
                </div>
                <div class="col-md-4">
                    <b>Technology  Name : </b>
                    <input type="text" name="certificate_name_6" class="form-control" value="<%=certificate.certificate_name_6%>">
                </div>
                <div class="col-md-4">
                    <b>Technology Provide Date : </b>
                    <input type="date" name="certificate_date_6" class="form-control">
                </div>
                <h4 class="mt-3 text-success">Technology 7</h4>
                <br>
                <div class="col-md-4">
                    <b>Technology Image  : </b>
                    <input type="file" required accept="image/*" name="certificate_photo_7" class="form-control">
                </div>
                <div class="col-md-4">
                    <b>Technology  Name : </b>
                    <input type="text" name="certificate_name_7" class="form-control" value="<%=certificate.certificate_name_7%>">
                </div>
                <div class="col-md-4">
                    <b>Technology Provide Date : </b>
                    <input type="date" name="certificate_date_7" class="form-control">
                </div>
                <h4 class="mt-3 text-success">Technology 8</h4>
                <br>
                <div class="col-md-4">
                    <b>Technology Image  : </b>
                    <input type="file" required accept="image/*" name="certificate_photo_8" class="form-control">
                </div>
                <div class="col-md-4">
                    <b>Technology  Name : </b>
                    <input type="text" name="certificate_name_8" class="form-control" value="<%=certificate.certificate_name_8%>">
                </div>
                <div class="col-md-4">
                    <b>Technology Provide Date : </b>
                    <input type="date" name="certificate_date_8" class="form-control">
                </div>
                <h4 class="mt-3 text-success">Technology 9</h4>
                <br>
                <div class="col-md-4">
                    <b>Technology Image  : </b>
                    <input type="file" required accept="image/*" name="certificate_photo_9" class="form-control">
                </div>
                <div class="col-md-4">
                    <b>Technology  Name : </b>
                    <input type="text" name="certificate_name_9" class="form-control" value="<%=certificate.certificate_name_9%>">
                </div>
                <div class="col-md-4">
                    <b>Technology Provide Date : </b>
                    <input type="date" name="certificate_date_9" class="form-control">
                </div>
                <h4 class="mt-3 text-success">Technology 10</h4>
                <br>
                <div class="col-md-4">
                    <b>Technology Image  : </b>
                    <input type="file" required accept="image/*" name="certificate_photo_10" class="form-control">
                </div>
                <div class="col-md-4">
                    <b>Technology  Name : </b>
                    <input type="text" name="certificate_name_10" class="form-control" value="<%=certificate.certificate_name_10%>">
                </div>
                <div class="col-md-4">
                    <b>Technology Provide Date : </b>
                    <input type="date" name="certificate_date_10" class="form-control">
                </div>
                <h4 class="mt-3 text-success">Technology 11</h4>
                <br>
                <div class="col-md-4">
                    <b>Technology Image  : </b>
                    <input type="file" required accept="image/*" name="certificate_photo_11" class="form-control">
                </div>
                <div class="col-md-4">
                    <b>Technology  Name : </b>
                    <input type="text" name="certificate_name_11" class="form-control" value="<%=certificate.certificate_name_11%>">
                </div>
                <div class="col-md-4">
                    <b>Technology Provide Date : </b>
                    <input type="date" name="certificate_date_11" class="form-control">
                </div>
                <h4 class="mt-3 text-success">Technology 12</h4>
                <br>
                <div class="col-md-4">
                    <b>Technology Image  : </b>
                    <input type="file" required accept="image/*" name="certificate_photo_12" class="form-control">
                </div>
                <div class="col-md-4">
                    <b>Technology  Name : </b>
                    <input type="text" name="certificate_name_12" class="form-control" value="<%=certificate.certificate_name_12%>">
                </div>
                <div class="col-md-4">
                    <b>Technology Provide Date : </b>
                    <input type="date" name="certificate_date_12" class="form-control">
                </div>
            </div>
            <div class="col-md-12 text-center">
                <br><br>
                <button class="btn btn-primary">Save Certificate Page</button>
            </div>
        </div>
    </div>
</form>
<%- include("footer.ejs") %>